{% extends 'base.html.twig' %}

{% block title %}
    Dashboards
{% endblock %}

{% block content %}
    <h1>
        DashBoard
    </h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3>Request forms</h3>
                <p>
                    1/20/2017
                    New "Overnight Guest" form submitted by Whitney Houston
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3>Surveys forms</h3>
                <p>
                    1/20/2017
                    New "Overnight Guest" form submitted by Whitney Houston
                </p>
            </div>
        </div>
    </div>
{% endblock %}