{% extends 'base.html.twig' %}

{% block title %}
    Dashboards
{% endblock %}

{% block content %}
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="dashboard-item">
                        <p class="dashboard-item-title">Request forms</p>
                        <ul>
                            <li>
                                <span>1/20/2017</span>
                                <p>New<a href="#">"Overnight Guest" form</a>submitted by Whitney Houston</p>
                            </li>
                            <li>
                                <span>1/20/2017</span>
                                <p>New<a href="#">"Overnight Guest" form</a>submitted by Whitney Houston</p>
                            </li>
                            <li>
                                <span>1/20/2017</span>
                                <p>New<a href="#">"Overnight Guest" form</a>submitted by Whitney Houston</p>
                            </li>
                            <li>
                                <span>1/20/2017</span>
                                <p>New<a href="#">"Overnight Guest" form</a>submitted by Whitney Houston</p>
                            </li>
                            <li>
                                <span>1/20/2017</span>
                                <p>New<a href="#">"Overnight Guest" form</a>submitted by Whitney Houston</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dashboard-item">
                        <p class="dashboard-item-title">Surveys</p>
                        <ul>
                            <li>
                                <span>1/20/2017</span>
                                <p>New<a href="#">submission</a>on "Your Experience so Far: Internship Survey (1/15/2017)" from Jesse Jackson</p>
                            </li>
                            <li>
                                <span>1/20/2017</span>
                                <p>New<a href="#">submission</a>on "Your Experience so Far: Internship Survey (1/15/2017)" from Jesse Jackson</p>
                            </li>
                            <li>
                                <span>1/20/2017</span>
                                <p>New<a href="#">submission</a>on "Your Experience so Far: Internship Survey (1/15/2017)" from Jesse Jackson</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
{% endblock %}