{% extends 'base.html.twig' %}

{% block title %}
    Schedules
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/fullcalendar.print.min.css') }}" media="print">
{% endblock %}

{% block content %}
    <div class="page-title">
        <h1>Schedules</h1>
        <div id='calendar'></div>
    </div>
    <!--event modal-->
    <div id="eventModal" class="popup modal fade in" tabindex="1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="modal-header">
                    <h3 class="text-center">Add event</h3>
                </div>
            </div>
            <div class="row-fluid">
                <div class="input-group">
                    <form action="" id="formNewEvent">
                        <input
                                type="text"
                                class="form-control"
                                placeholder="Title"
                                name="name"
                                id="eventTitle"
                        >
                        <input
                                required
                                type="text"
                                class="form-control"
                                placeholder="Event location"
                                name="location"
                                id="eventLocation"
                        >
                        <input
                                required
                                type="text"
                                placeholder="Event start"
                                class="form-control"
                                name="start"
                                id="eventStart"
                                onkeydown="return false"
                        >
                        <input
                                required
                                type="text"
                                class="form-control"
                                name="end"
                                placeholder="Event end "
                                id="eventEnd"
                                onkeydown="return false"
                        >
                        <textarea
                                required
                                id="eventDescription"
                                class="form-control"
                                name="description"
                                placeholder="Description"
                                rows="5">
                        </textarea>
                        <div class="select">
                            <h3 class="id-users text-center">ID-users</h3>
                            <select class="form-control" id="select-user">
                            </select>
                        </div>
                        <button class="btn btn-success" id="submitEvent" type="submit">
                            Submit
                        </button>
                        <button class="btn btn-danger pull-right" data-dismiss="modal">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--updateEvent modal-->
    <div id="updateEvent" class="popup modal fade in" tabindex="1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="modal-header">
                    <h3 class="text-center">Edit event</h3>
                </div>
            </div>
            <div class="row-fluid">
                <div class="input-group">
                    <form action="" id="formUpdateEvent">
                        <input
                                required
                                type="text"
                                class="form-control"
                                placeholder="Title"
                                id="updateTitle"
                                name="name"
                        >
                        <input
                                required
                                type="text"
                                class="form-control"
                                placeholder="Event location"
                                id="updateLocation"
                                name="location"
                        >
                        <input
                                required
                                type="text"
                                placeholder="Event start"
                                class="form-control"
                                id="updateStart"
                                onkeydown="return false"
                                name="start"
                        >
                        <input
                                required
                                type="text"
                                class="form-control"
                                placeholder="Event end "
                                id="updateEnd"
                                onkeydown="return false"
                                name="end"
                        >
                        <textarea
                                required
                                id="updateDescription"
                                class="form-control"
                                name="description"
                                placeholder="Description"
                                rows="5">
                        </textarea>
                        <div class="select">
                            <h3 class="id-users text-center">ID-users</h3>
                            <select class="form-control" id="update-user">
                            </select>
                        </div>
                        <button class="btn btn-success" id="updateSubmit" type="submit">
                            Save change
                        </button>
                        <button class="btn btn-warning" data-dismiss="modal" id="removeEventBtn">
                            Remove
                        </button>
                        <button class="btn btn-danger pull-right" data-dismiss="modal">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function () {

//  New Event
            var eventModal = $('#eventModal');
            var eventTitle = $('#eventTitle');
            var eventStart = $('#eventStart');
            var eventEnd = $('#eventEnd');
            var eventLocation = $('#eventLocation');
            var eventDescription = $('#eventDescription');
            var eventUser = $('#select-user');
            var eventSubmit = $('#submitEvent');

//  Update Event
            var updateEvent = $('#updateEvent');
            var updateTitle = $('#updateTitle');
            var updateStart = $('#updateStart');
            var updateEnd = $('#updateEnd');
            var updateLocation = $('#updateLocation');
            var updateDescription = $('#updateDescription');
            var updateUser = $('#update-user');
            var updateSubmit = $('#updateSubmit');

//        Calendar
            var calendar = $('#calendar');
            var removeEventBtn = $('#removeEventBtn');
            var currentEvent;
//  Format date

            $('#formNewEvent').validate({
                rules: {
                    name: "required",
                    start: "required",
                    end: "required",
                    location: "required",
                    description: "required"
                }
            });
            $('#formUpdateEvent').validate({
                rules: {
                    name: "required",
                    start: "required",
                    end: "required",
                    location: "required",
                    description: "required"
                }
            });

            $('#eventStart, #eventEnd,#updateStart, #updateEnd').datetimepicker({
                format: "DD.MM.YYYY HH:mm"
            });

            calendar.fullCalendar({
                googleCalendarApiKey: 'AIzaSyCvhIy1Sbln1q5m48C_ojM-KKl9JSoNdRc',
                customButtons: {
                    newEvent: {
                        text: 'New event',
                        click: function (event) {

                            eventTitle.val('');
                            eventDescription.val('');
                            eventLocation.val('');
                            eventStart.val();
                            eventEnd.val();
                            eventModal.modal('show');
                            eventTitle.focus();

                            var userList = {
                                "async": true,
                                "url": Routing.generate('users-list'),
                                "method": "GET",
                                "headers": {
                                    "content-type": "application/json",
                                    "authorization": "Basic YWRtaW5Ac2VydmUtc2VhdHRsZS5jb206YWRtaW4="
                                },
                                "processData": false
                            };

                            $.ajax(userList).done(function (response) {
                                response.users.forEach(function (elem, index) {
                                    eventUser.append('<option value="' + elem.id + '">' + elem.firstName + ' ' + elem.lastName + '</option>')
                                })
                            });
                        }
                    }
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay, newEvent'
                },
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                editable: true,
                timeFormat: 'H:mm',
                eventRender: function (event, element) {
                    element.find('.fc-title').append('<div class="hr-line-solid-no-margin"><span style="font-size: 10px">' + event.description + '</span></div>');
                },
                eventClick: function (event, element) {
                    currentEvent = event;
                    updateTitle.val(event.title);
                    updateDescription.val(event.description);
                    updateLocation.val(event.location);
                    updateStart.val(event.start.format("DD.MM.YYYY HH:mm"));
                    if(event.end == null) {
                        updateEnd.val(event.start.format("DD.MM.YYYY HH:mm"));
                    } else {
                        updateEnd.val(event.end.format("DD.MM.YYYY HH:mm"));
                    }
                    updateEvent.modal('show');
                    updateTitle.focus();

                    var updateUserList = {
                        "async": true,
                        "url": Routing.generate('users-list'),
                        "method": "GET",
                        "headers": {
                            "content-type": "application/json",
                            "authorization": "Basic YWRtaW5Ac2VydmUtc2VhdHRsZS5jb206YWRtaW4="
                        },
                        "processData": false
                    };

                    $.ajax(updateUserList).done(function (response) {
                        response.users.forEach(function (elem, index) {
                            updateUser.append('<option value="' + elem.id + '">' + elem.firstName + ' ' + elem.lastName +
                                '</option>');
                        })
                    });

                },
                eventLimit: true, // allow "more" link when too many events
                events: function (start, end, timezone, callback) {
                    var view = $('#calendar').fullCalendar('getView'),
                        start = view.start._d.toISOString(),
                        end = view.end._d.toISOString();

                    $.ajax({
                        "async": true,
                        "url": Routing.generate('events-list', {singleEvents: 1, timeMin: start, timeMax: end}),
                        "method": "GET",
                        "headers": {
                            "content-type": "application/json",
                            "authorization": "Basic YWRtaW5Ac2VydmUtc2VhdHRsZS5jb206YWRtaW4=",
                            "cache-control": "no-cache"
                        },
                        "processData": false,
                        success: function (data) {
                            var events = [];
                            data.events.forEach(function (elem, index) {
                                events.push(elem);
                                var time = moment.duration("07:00:00");
                                events[index].start = (moment(elem.start).subtract(time).toISOString());
                                events[index].end = (moment(elem.end).subtract(time).toISOString());
                            });
                            callback(events);
                        }
                    });
                }
            });

            eventSubmit.on('click', function (e) {
                e.preventDefault();
                if ($('#formNewEvent').valid()) {
                    doSubmit();
                }
            });

            updateSubmit.on('click', function (e) {
                e.preventDefault();
                if ($('#formUpdateEvent').valid()) {
                    updateEventSubmit(currentEvent);
                }
            });

            removeEventBtn.on('click', function (e) {
                e.preventDefault();
                removeEvent(currentEvent);
            });

            function doSubmit() {
                var eventData = {
                    "event": {
                        "user": eventUser.val(),
                        "summary": eventTitle.val(),
                        "description": eventDescription.val(),
                        "location": eventLocation.val(),
                        "start": moment(eventStart.val(),"DD.MM.YYYY HH:mm").format("YYYY-MM-DDTHH:mm:ss") + '-07:00',
                        "end": moment(eventEnd.val(),"DD.MM.YYYY HH:mm").format("YYYY-MM-DDTHH:mm:ss") + '-07:00'
                    }
                };

                var newEvent = {
                    "async": true,
                    "url": Routing.generate('new-event'),
                    "method": "POST",
                    "headers": {
                        "content-type": "application/json",
                        "authorization": "Basic YWRtaW5Ac2VydmUtc2VhdHRsZS5jb206YWRtaW4=",
                        "cache-control": "no-cache"
                    },
                    "processData": false,
                    "data": JSON.stringify(eventData)
                };

                $.ajax(newEvent).done(function (response) {
                    console.log(response);
                    setTimeout("window.location.reload()", 500);
                });
                eventModal.modal('hide');
            }

            function updateEventSubmit(event) {
                var eventData = {
                    "event": {
                        "user": updateUser.val(),
                        "summary": updateTitle.val(),
                        "description": updateDescription.val(),
                        "location": updateLocation.val(),
                        "start": moment(updateStart.val(),"DD.MM.YYYY HH:mm").format("YYYY-MM-DDTHH:mm:ss") + '-07:00',
                        "end": moment(updateEnd.val(),"DD.MM.YYYY HH:mm").format("YYYY-MM-DDTHH:mm:ss") + '-07:00'
                    }
                };

                var update = {
                    "async": true,
                    "url": Routing.generate('edit-event', {id: event.id}),
                    "method": "PATCH",
                    "headers": {
                        "content-type": "application/json",
                        "authorization": "Basic YWRtaW5Ac2VydmUtc2VhdHRsZS5jb206YWRtaW4=",
                        "cache-control": "no-cache"
                    },
                    "processData": false,
                    "data": JSON.stringify(eventData)
                };

                $.ajax(update).done(function (response) {
                    console.log(response);
                    setTimeout("window.location.reload()", 500);

                });
                updateEvent.modal('hide');
                $('#calendar').fullCalendar('updateEvent', event.id);


            }

            function removeEvent(event) {
                var removeEvent = {
                    "async": true,
                    "url": Routing.generate('remove-event', {id: event.id}),
                    "method": "DELETE",
                    "headers": {
                        "content-type": "application/json",
                        "authorization": "Basic YWRtaW5Ac2VydmUtc2VhdHRsZS5jb206YWRtaW4=",
                        "cache-control": "no-cache"
                    },
                    "processData": false
                };

                $.ajax(removeEvent).done(function (response) {
                    console.log(response);
                });

                calendar.fullCalendar('removeEvents', event.id);
            }
        });
    </script>
{% endblock %}