{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('/images/logo.jpeg') }}">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">Schedules</a></li>
                <li><a href="#">Request forms</a></li>
                <li><a href="#">Surveys</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>

        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
