.popup
  centralizer()
  position fixed
  height 600px
  border-radius 5px
  background-color white

  .input-group
    width 100%

    label
      display block
      padding 0
      margin 0

    .form-control
    .btn
      resize none
      margin-top 15px
      border-radius 3px

    .btn
      margin-bottom 10px
