@import "bootstrap"
@import "nib"

// Assets
@import "assets/mixins"

// Components
@import "components/pageTitle"
@import "components/dashboardItem"
@import "components/filter"
@import "components/requestTable"
@import "components/edit_form"

// Blocks
@import "blocks/header"
@import "blocks/popup"

.modal-header
    padding 10px !important
    border-bottom 1px solid #e5e5e5