{% extends 'base.html.twig' %}

{% block title %}
    User management
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        {{ form(form, {'attr': {'class': 'edit_form'}}) }}
    </div>
{% endblock %}