{% extends 'base.html.twig' %}

{% block title %}
    Reset password
{% endblock %}

{% block content %}
    <div class="row text-center center-block">
        <div class="col-sm-4 col-sm-offset-4">
            <h1>
                Password updating!
            </h1>
            <div class="well ">
                {% if message is defined %}
                    <p>{{ message }}</p>
                {% endif %}
                {% if form is defined %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input style="margin-top: 10px" type="submit" value="Submit"/>
                {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
