.dashboard-item
  padding 0 15px
  background-color #EEEEEE

  +media($screen-md-min)
    margin-top 15px

  &-title
    padding-top 10px
    font-weight bolder
    font-size 22px

  ul
    margin 0
    padding 0
    list-style-type none

    li
      display flex

      span
        padding-right 10px

      a
        padding 0 5px